* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #00264E;
}

.cards .card {
  margin: 70px auto;
  background-color: darkorange;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.cards .card input {
  padding: 20px 30px 20px 20px;
  margin: 5px 0;
  text-transform: capitalize;
  border-radius: 5px;
  border: 0;
  background-color: #00264E;
  color: gray;

}

.cards .card button {
  padding: 15px;
  margin: 10px 0;
  text-transform: capitalize;
  border-radius: 5px;
  border: 0;
  background-color: #00264E;
  color: #D7862D;
  text-align: center;
}


.cards .card2 {
  display: none;
  background-color: #AF89C6;
}

.cards .card2Title,
.card4Title {
  text-transform: capitalize;
  color: white;
}

.cards .card3 {
  background-color: #006000;
  display: none;
}

.cards .card4 {
  background-color: #C61100;
  display: none;
}

.cards .card5 {
  background-color: #15100f;
  background: url(../images/win.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: none;
}

.cards .card5 h3 {
  color: #1ABCFF;
  font-size: 20px;
  text-transform: capitalize;
  margin-top: 220px;
  text-shadow: 1px 1px 30px rgba(170,30,200,0.99);
}